doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Deep Web

      section
        h2 Jenis-jenis DeepWeb

      section
        h2 Pengertian DeepWeb
        br  
        li Seberapa sering kita menggunakan internet?
        li Setiap hari?

      section
        h2 Bagaimana membuka DeepWeb?
        h3.bullet Beberapa Dark Web Search Engine
        ul
            li =>Deep Web Research Tools (http://www.weitzenegger.de/content/?page_id=2321)
            li => Surfwax (http://lookahead.surfwax.com/)
            li => IceRocket (http://www.icerocket.com/)
            li => The WWW Virtual Library (http://vlib.org/)
            li => TechDeepWeb (http://techdeepweb.com/4.html)
            li => Freebase (http://www.freebase.com/)
            li => Stumpedia (http://www.stumpedia.com/) 
      section
        h2 Bahayakah Deep Web
        p Benarkah Deep Web berbahaya?
        p Deep Web sangatlah berbahaya bagi pengguna di dunia internet. Ada banyak hacker yang bisa mendeteksi keberadaan kita dengan mudah ketika kita memasuki deep web. Deep web memiliki informasi yang lebih besar 400 hingga 500 kali dari web biasa, dengan kapasitas informasi mencapai 7.500 TB. Hampir 95% konten di deep web bisa diakses tanpa registrasi,dikarenakan jikalau kita melakukan registrasi, kejahatan cyber crime akan lebih gampang untuk mengintai apa yang kita lakukan.
      section
        h3 Apa Saja yang Ada Di Deep Web?
        ul
          li 1. Hacker
          li 2. Black Market
          li 3. Konten Pornografi
          li 4. Dokumen Rahasia yang tidak bisa dideteksi ataupun disensor oleh mesin pencarian,
          li 5. Penjual Obat2 Terlarang, Maupun Penjualan Manusia sebagai Obyek Seks.

      section
        h2 Tingkatan -  Tingkatan Dalam Deep Web
        li Level 0: Common Web.Google, Facebook, Twitter dan semua web yang kamu tahu.
        li Level 1: Surface Web.Situs yang agak "berbahaya" tapi masih bisa diakses dengan normal. Misal: Reddit, Digg, Amazon Turk dan lainnya.
        li Level 2: Bergie Web.Di situs-situs ini kita bisa menemukan hal-hal yang bersinggungan dengan Deep Web, seperti gerbang awal Deep Web. Bisa mencari info soal Bitcoin Mining dan komunitasnya.
        li Level 3: Deep Web. Bisa diakses dengan Proxy, Tor atau modif hardware. Apa saja yang terburuk bisa kamu pikirkan ada di sini.


      section 
        li Level 4: Charter Web. Ada dua bagian di level ini, bagian pertama bisa diakses dengan Tor. Black market, buku dan film yang dilarang yang sangat berbahaya bisa ditemukan di sini. Bagian kedua, yang memerlukan modifikasi hardware lebih lanjut menyimpan data yang lebih bahaya lagi.
        li Level 5: Marianas Web. Semacam Limbo di Inception. Pada level ini keberadaan nya masih bisa di sebut mitos.

      section
        h3 Pengertian tentang Deepweb
        p Pengertian dari Deep Web sendiri secara bahasa adalah Web Mendalam, namun ada sebagian orang menyebutnya dengan istilah Deepnet, DarkNet, Invisible Web, Undernet atau Hidden Web.
        p Penamaan atau istilah-istilah tersebut diberikan bukan tanpa alasan, hal ini dikarenakan bahwa Deep Web adalah salah satu bagian dari internet, namun untuk mencari konten-konten yang ada di dalam Deep Web bukanlah perkara mudah.
        p Web-web yang ada di dalam Deep Web tidak dapat ditemukan dengan mesin pencari biasa seperti Google, Bing atau Yahoo. Itulah mengapa Deep Web biasa disebut dengan Invisible Web.

      section
        h2 Yang harus dilakukan sewaktu membuka Deep Web?
        p Sebenarnya deep web bukanlah suatu wadah informasi yang patut diakses. Namun bila kita terlanjur mengakses deep web, yang perlu kita lakukan adalah berhati-hati dengan segala sesuatu yang ada di deep web.
        p Usahakan untuk tidak mengunduh apapun atau memasukkan informasi apapun pada deep web. Sekedar melihat konten-konten liar di deep web mungkin tidak terlalu masalah, tapi jangan sampai kita terlibat terlalu jauh dalam dunia deep web.
         
      section
        p Jangan lupa untuk menghapus setiap history dan cache setelah mengakses deep web sehingga informasi pribadi kita tidak mudah ditelusuri oleh para hacker atau pelaku #cybercrime lainnya. Sebaiknya kita memang tidak mengakses deep web sebab “palung” ini memang terlalu berbahaya untuk diselami. Berselancar di “permukaan internet” sudah cukup memberikan manfaat dan tambahan pengetahuan bagi kehidupan kita.
       
      section 
        h2 Beberapa Sisi gelap yang bisa ditemukan di deep web:
        li 1. Drugs (obat-obatan) :Dalam deep web, terdapat berbagai macam situs yang menawarkan narkoba dalam bentuk apa saja. Dalam jumlah berapa saja. Banyak sekali jenis narkoba yang tidak ada namanya, dan hanya mempunyai kode angka-angka.
        li 2. Kartu Identitas Palsu : Banyak sekali situs yang menawarkan pembuatan identitas palsu. Harganya pun termasuk murah. Pembeli bisa meminta dibuatkan kartu identitas negara mana saja, kota mana saja, dan kelurahan mana saja
        li 3.Data Bank:Orang juga dapat membeli data bank yang berisi nomer akun, pin, password, kartu kredit dan lain-lain.
        


    script(src='build/build.js')
